<div [ngClass]="!completada ? 'task' : 'taskDone'" [style.background-color]="task.color">
  <div class="controls" id="controlsDone">
    <select *ngIf="!completada" [(ngModel)]="selectedValue" (ngModelChange)="editColorTask()">
      <option *ngFor="let c of colours" [ngValue]="c.name">{{c.name}}
      </option>
    </select>
  </div>
  <span [hidden]="editing" id="stileTask"  (dblclick)="editTask(editInput)">{{ task.text }}</span>
    <span [hidden]="!editing">
      <input #editInput type="text" [(ngModel)]="task.text" (keyup.enter)="editTaskText()" (blur)="cancelEdit()">
    </span>
  <div class="controls">
    <i *ngIf="!completada" class="material-icons" (click)="deleteTask()">delete</i>
    <i *ngIf="!completada" class="material-icons" (click)=editTask(editInput)>edit</i>
    <i class="material-icons" (click)=changeTaskDone()>done</i>
  </div>
</div>

