.list{
    background-color: #26C6DA    ;
    width: 60vh;
    border-radius: 0.3em;
}

h1{
    padding: 0.5em;
}

.list h1 input {
    all: unset;
    color: black;
    border-bottom: 1px solid black;
    width: 100%;
 }
 
 .styleName{
    border-bottom: 4px solid black;
 }
.controls{
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    justify-content: flex-start;
}

.list:hover .controls{
    opacity: 1;
}
i {
    cursor: pointer;
}