.list{
    background-color: brown;
    width: 60vh;
    border-radius: 0.3em;
}


.controls{
    opacity: 0;
    transition: opacity 1s;
}

.list:hover .controls{
    opacity: 1;
}
i {
    cursor: pointer;
}